.filterButton {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 7px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 0.9rem;
    white-space: nowrap;
}

.filterButton:hover {
    background-color: #f0f0f0;
}

.filterButton.active {
    background-color: black; /* Fundo preto quando ativo */
    color: white; /* Texto branco quando ativo */
    border-color: black;
}